/* mobile view */
@media only screen and (max-width: 750px) {
  /* this is the progress bar of the song */
  .desktoppro {
    display: none;
  }
  #middle {
    background-image: url(./images/background.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: right;
  }
  /* top middle */
  #nate {
    width: 350px;
    display: block;
    margin: auto auto 15% auto;
    padding-top: 20%;
  }
  #topMiddle h1 {
    margin-left: 5%;
    font-weight: lighter;
  }
  #topMiddle p {
    font-size: 20px;
    margin: auto 5% auto 5%;
  }
  /* middle earth/ youtube video */
  iframe {
    width: 400px;
    height: 220px;
    display: block;
    margin: 15% auto 40% auto;
  }
  #middleEarth p {
    font-size: 20px;
    margin-left: 5%;
  }
  #middleEarth h1 {
    font-weight: lighter;
    margin: 30% auto 5% 5%;
  }
  /* bottom middle/ album section */
  #album {
    width: 345px;
  }
  #rotate {
    bottom: 25%;
    top: 25%;
    left: 25%;
    right: 25%;
    font-size: 60px;
  }
  #buyBottom {
    display: block;
    margin: 5% 35% 10% 35%;
  }
  /* .songs{
        display: inline-block;
      } */
  .mobilepro {
    height: 5px;
    /* margin: 6% 5% auto 5%; */
  }
  #song1,
  #song2 {
    margin: 5%;
  }

  /* picture middle/ gallery */
  #pictureMiddle img {
    width: 250px;
  }
  /* bottom section for contact */
  #bottom h1 {
    font-weight: lighter;
    font-size: 30px;
    margin: 20% auto 15% 5%;
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    word-spacing: 20px;
  }
  .med {
    margin: auto auto 5% 5%;
  }
  .under {
    margin-left: 5%;
    font-size: 24px;
  }
  .follow {
    margin: 15% auto 15% 35%;
  }
  #lastly {
    font-size: 72px;
    letter-spacing: 10px;
  }
  .naming {
    margin-top: 25%;
    text-align: center;
    line-height: 50px;
  }
  #firstly {
    margin-right: 25%;
    font-size: 36px;
  }
  .local {
    float: right;
    margin: -5% 10% 25% auto;
    font-size: 18px;
  }
}
/* ----------------------------desktop view----------------------------- */
@media only screen and (min-width: 750px) {
  /* this is the progress bar of the song */
  .mobilepro {
    display: none;
  }
  /* for entire middle section */
  #middle {
    background-image: url(./images/background.png);
    background-color: black;
    background-repeat: no-repeat;
  }
  /* top middle section */
  #topMiddle {
    display: grid;
    grid-template-areas:
      "pic nathan"
      "pic para"
      "pic para";
    margin: auto 5% 20% 5%;
    padding-top: 10%;
  }
  #nate {
    width: 500px;
    grid-area: pic;
  }
  
  #topMiddle h1 {
    grid-area: nathan;
    margin: 2% auto auto 15%;
    font-size: 50px;
    text-align: left;
  }
  #topMiddle p {
   grid-area: para;
   margin: 1% 5% auto 15% ;
   font-size: 25px;
  }
  

  /* middleEarth/ youtube section */
  
  #middleEarth {
    display: grid;
    grid-template-areas:
      "music video"
      "p video"
      "link video";
      margin: 20% 5% 10% 10%;
  }
  
  iframe {
    width: 650px;
    height: 355px;
    grid-area: video;
    margin: 10% auto ;
  }
  #middleEarth h1{
    grid-area: music;
    font-size: 50px;
  }
  #middleEarth p {
    margin: auto auto auto 0%;
    font-size: 32px;
    grid-area: p;
  }
  #middleEarth #link {
    margin: 10% auto auto 0%;
    grid-area: link;
  }
  /* album section/ bottom middle */
  #bottomMiddle {
    display: grid;
    
  }
  #album {
    width: 650px;
    display: block;
    margin-left: 10%;
  }
  #rotate {
    font-size: 100px;
    bottom: 40%;
    left: 10%;
  }
  .songs {
    /* display: flex; */
  }
  /* gallery section/ picture middle */
  #pictureMiddle {
    margin-bottom: 20%;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  #pictureMiddle img {
    width: 450px;
  }
/* bottom section/ contact */
#bottom h1 {
  font-weight: lighter;
  font-size: 38px;
  margin: 20% auto 15% 5%;
  padding-top: 5%;
  word-spacing: 100px;
}
.med {
  margin: auto auto 5% 5%;
}
.under {
  margin-left: 5%;
  font-size: 24px;
}
.naming{
  margin-left: 5%;
}
#firstly{
  font-size: 75px;
  margin-left: 5%;
}
/* perhaps use em to make different size for screen size as well as iframe */
#lastly{
  font-size: 175px;
}
}

/* ----------------------------outside media queries-------------------- */

body {
  margin: 0;
  color: #ffffff;
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
.pressplay {
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
a .follow {
  background-color: transparent;
  /* border-radius: 10px; */
  border-color: #ffffff;
  color: #ffffff;
  width: 152px;
  height: 47px;
  font-size: 24px;
}
.red {
  text-decoration: none;
  color: #952525;
}
.buy {
  font-size: 25px;
  color: white;
  background-color: #952525;
  border: none;
  /* border-radius: 10px; */
  width: 152px;
  height: 47px;
}
/* ------------------- top section ----------------------------------------- */
#top {
  background-image: url(./images/nathan1.png);
}


#socialmedia img {
  width: 50px;
}
#insta {
  margin: auto 5% auto 5%;
}
/* -------------------- middle section ------------------------------------- */

/* --------------------- top middle ---------------------------------------- */

#readmore {
  text-transform: uppercase;
  color: #ff0000;
  background-color: transparent;
  border: none;
}
/* ------------------- middle earth ----------------------------------------- */


/* --------------------- bottom middle ------------------------------------ */
/* section is for the album and songs */
#working {
  position: relative;
  text-align: center;
  /* display: block;  */
  margin-top: 20%;
}
#rotate {
  transform: rotate(45deg);
  position: absolute;
 
}

/* -------------------- picture middle -------------------------------------- */
/* gallery */
#gallery {
  margin: 15% auto 2% 2%;
  font-size: 50px;
  color: #424242;
}

/* --------------------- bottom section ------------------------------------ */
#bottom {
  /* background-image: url(./images/bottom.png); */
  background-repeat: no-repeat;
}

#circle {
  font-size: 10px;
}
#bottom h2 {
  font-size: 50px;
  font-weight: lighter;
}
.under {
  text-decoration: underline;
  color: #424242;
}
