/* mobile view */
@media only screen and (max-width: 700px) {
  /* -------- top ----------------- */
  #top{
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
  }
  /* ------------------------topMiddle ------------------ */
  #nate{
    width: 350px;
  }
  /*------------------------- middleEarth--------------------------- */
  iframe{
    width: 350px;
  }
  /* ----------------------picture middle ---------------------- */
  #pictureMiddle img{
    width: 350px;
  }
  /* --------------------- bottom middle/ album ------------------- */
  #album{
    width: 350px;
  }
}
/* ---------------- desktop view ------------------------------------------ */
@media only screen and (min-width: 700px) {
  /* ------------------top section -------------------------- */
  #top {
    display: grid;
    grid-template-areas:
      ". up up"
      ". play song"
      "name soon soon"
      "name buy buy"
      ". . follow"
      ". soc .";
  }
  #lastname {
    font-size: 200px;
  }
  
  /* ---------------top middle section ------------------- */
  #topMiddle {
    display: grid;
    grid-template-areas:
      "pic nathan"
      "pic para"
      "pic readmore";
  }
  #topMiddle img {
    margin: 40% auto auto 10%;
  }
  #topMiddle h1 {
    margin: 20% auto auto 25%;
    font-size: 64px;
  }
  #topMiddle p {
    margin: 1% 10% auto 25%;
    font-size: 32px;
    text-align: left;
  }
  #readmore {
    margin: 0% auto auto 25%;
  }
  /* ---------------middleEarth section ----------------- */
  #middleEarth {
    display: grid;
    grid-template-areas:
      "music video"
      "p video"
      "link video";
  }
  video {
    margin: 10% 10% 50% 5%;
  }
  #middleEarth {
    margin: 20% 5% 10% 10%;
    font-size: 40px;
  }
  #middleEarth p {
    margin: -50% 20% auto auto;
    font-size: 32px;
  }
  #middleEarth #link {
    margin: -40% auto auto 0%;
  }
  /* ------------------ picture middle -------------------- */
  #pictureMiddle {
    margin-bottom: 20%;
    margin-top: 12%;
  }
  #pictureMiddle {
    display: flex;
    justify-content: space-evenly;
  }
  /* ------------------- bottom middle ------------------- */
  #bottomMiddle {
    display: grid;
    grid-template-areas:
      "album song1"
      "album song2"
      "button .";
  }
  #album {
    margin: 10% 0% 10% 10%;
  }
  #bottomMiddle button {
    margin-left: 35%;
    margin-bottom: 20%;
  }
  #bottomMiddle .songs {
    margin-top: 25%;
    margin-right: 25%;
    margin-left: 0%;
  }
  
}
/* ----------------- outside of media queries ----------------------------- */

body {
  margin: 0;
  color: #ffffff;
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;

}
.pressplay {
  background-color: transparent;
  border: none;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer;
}
a .follow {
  background-color: transparent;
  border-radius: 10px;
  border-color: #ffffff;
  color: #ffffff;
  width: 117px;
  height: 68px;
  font-size: 30px;
}
.red {
  text-decoration: none;
  color: #ff0000;
}
.buy {
  font-size: 41px;
  color: #ff0000;
  background-color: transparent;
  border-color: #ff0000;
  height: 92px;
}
/* ------------------- top section ----------------------------------------- */
#top {
  background-image: url(./images/nathan1.png);
  /* padding-top: 1%; */
}
/* #covermusic {
  float: right;
} */
#firstname {
  /* margin: 20% auto auto 15%; */
  font-size: 100px;
  font-weight: lighter;
  line-height: 120px;
  grid-area: name;
}

#top .pressplay {
  grid-area: play;
}
#top .progress {
  grid-area: play;
}
#covermusic p {
  grid-area: song;
}
#top h2 {
  grid-area: up;
}
#lastname {
  /* font-size: 200px; */
  grid-area: name2;
  /* margin-left: -10%;  */
}
#top p {
  font-size: 42px;
  grid-area: soon;
}
#top .buy {
  grid-area: buy;
}
#top .follow {
  grid-area: follow;
}

#socialmedia {
  /* display: flex;
  justify-content: center; */
  grid-area: soc;
}
#socialmedia img {
  width: 50px;
}
#insta {
  margin: auto 5% auto 5%;
}
/* -------------------- middle section ------------------------------------- */
#middle {
  background-image: url(./images/background.png);
  background-color: black;
  background-repeat: no-repeat;
}
/* --------------------- top middle ---------------------------------------- */
#topMiddle img {
  /* width: 500px; */
  grid-area: pic;
}
#topMiddle h1 {
  grid-area: nathan;
}
#topMiddle p {
  grid-area: para;
}
#readmore {
  grid-area: readmore;
  text-transform: uppercase;
  color: #ff0000;
  background-color: transparent;
  border: none;
}
/* ------------------- middle earth ----------------------------------------- */
#middleEarth h1 {
  grid-area: music;
}
#middleEarth p {
  grid-area: p;
}
#middleEarth #link {
  grid-area: link;
}
#video {
  grid-area: video;
}

/* -------------------- picture middle -------------------------------------- */
/* #pictureMiddle {
  display: flex;
  justify-content: space-evenly;
} */
/* --------------------- bottom middle ------------------------------------ */
#bottomMiddle img {
  grid-area: album;
}
#song1 {
  grid-area: song1;
}
#song2 {
  grid-area: song2;
}
#bottomMiddle button {
  grid-area: button;
}
/* --------------------- bottom section ------------------------------------ */
#bottom {
  /* background-image: url(./images/bottom.png); */
  background-repeat: no-repeat;
}
#bottom h1 {
  font-weight: lighter;
  font-size: 50px;
  margin: auto auto 15% 5%;
  padding-top: 5%;
}
#circle {
  font-size: 10px;
}
#bottom h2 {
  font-size: 50px;
  font-weight: lighter;
  margin-left: 5%;
}
#bottom p {
  font-size: 35px;
  margin-left: 5%;
  margin-top: -2.5%;
}
.med {
  margin: 5% auto 5% 5%;
}
